ul {
  padding: 0px;
}

#error_bar {
  background-color: red;
  border-radius: 20px;
  color: white;
  width: 60%;
  height: 20px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  position: absolute;
  opacity: 1.0;
}

.poster-profile-pic {
  width: 20px;
  float: left;
  margin-right:10px;
}

#left-nav-bar {
    background-color: #ebffff;
    height:100%;
    width:100%;
    border-radius: 5px;
}

.left-nav-icon:hover {
    border-color: red;
    opacity: 1;
}

.left-nav-icon {
    margin: 20px;
    border-radius: 5px;
    border: solid;
    border-color: lightgray;
    opacity: .5;
}

#settings-dialog {
    width: 100%;
    height: 100%;
}
#settings-dialog-container {
    width: 100%;
    height: 100%;
}

#profile-picture-crop-preview {
  display:none;
  width: 168;
  height: 168;
}

.status-update-box #status-timestamp {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 11px;
}

.status-update-box #delete-link {
  position:absolute;
  right:3px;
  top:-5px;
  visibility: hidden;
}

#status #status_update_box, #status-render {
  margin-bottom: 14px;
  width: 100%;
  height: 55px;
  border-radius: 11px;
  border-width: 2px;
  border-style: dashed;
  outline: none;
  font-size: 25px;
}

#status-render {
    padding-top 5px;
}

restaurant {
    color: lightblue;
}

.list-group-item {
  transition-property: -webkit-filter;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: .1s;
}

#map {
  width: 100%;
  transition-property: -webkit-filter;
  transition-duration: .5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.static-map {
    border-radius: 10px;
    padding: 5px;
}

#google-search-results img {
    margin-top: 5px;
    margin-right: 13px;
}

#google-search-results .media-body h4 {
    margin-bottom: 2px;
}

#google-search-results .media-body {
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}

.popover {
    max-width: 512px;
}
