#status #id_text {
  margin-bottom: 14px;
  width: 100%;
  height: 50px;
  border-radius: 11px;
  border-width: 2px;
  border-style: dashed;
  outline: none;
  font-size: 25px;
}

#map {
  transition-property: -webkit-filter;
  transition-duration: .5s;
  transition-timing-function: ease;
  transition-delay: 0s;
};
